header {
  background-color: #2cbf2c;
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

nav {
  background-color: #acecac;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

aside {
  background-color: #acecac;
  padding: 50px;
  font-size: 20px;
}

footer {
  background-color: #2cbf2c;
  text-align: center;
  padding: 30px;
}
