header {
  background-color: #2cbf2c;
  text-align: center;
  padding: 30px;
  font-size: 40px;
  color: white;
}

nav {
  background-color: #2cbf2c;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  color: white;
}

aside {
  background-color: #2cbf2c;
  padding: 50px;
  font-size: 20px;
  color: white;
}

footer {
  background-color: #2cbf2c;
  text-align: center;
  padding: 30px;
  color: white;
}
